{% extends "learning_logs/base.html" %}

{% block header %}
    <div class="jumbotron" style = "background-color:gold">
        <h1>Track your learning.</h1>
    </div>
{% endblock header %}

{% block content %}
    <h2>
        <a href="{% url 'register' %}"> Register an account</a> to make your own Learning Log, and list the topics you learn about.
    </h2>
    <h2>
        Whenever you learning something new about a toipc, make an entry summarizing what you've learned.
    </h2>
{% endblock content %}